.contact-us {
  margin: 0px 150px;
  border-radius: 20px;
  border: 1px solid var(--primary-color-2);
  box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.15);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.contact-us-title {
  color: var(--primary-color-1);
  font-weight: bold;
  font-size: 30px;
}

.contact-us-subtitle {
  color: var(--primary-color-1);
  font-size: 18px;
}

.form-container {
  width: 100%;
  padding: 40px 0px;
}

.contact-us-form {
  padding: 0px 50px;
}
.form-details {
  display: flex;
  width: 100%;
  margin-bottom: 70px;
}

.form-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.form-left label {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color-1);
  margin-bottom: 10px;
}

.form-left input {
  border: none;
  padding: 15px 20px;
  background: rgba(204, 204, 204, 0.15);
  border-radius: 20px;

  margin-bottom: 10px;
}

.form-right {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  padding-left: 60px;
}

.form-right label {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color-1);
  margin-bottom: 10px;
}

.form-right textarea {
  border: none;
  padding: 15px 20px;
  background: rgba(204, 204, 204, 0.15);
  border-radius: 20px;
  resize: none;
  margin-bottom: 10px;
  height: 100%;
}

.form-submit {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .contact-us {
    margin: 0px 20px;
    margin-bottom: 50px;
  }
  .contact-us-title {
    font-weight: bold;
    font-size: 13px;
  }

  .contact-us-subtitle {
    font-size: 9px;
    text-align: center;
  }

  .form-container {
    width: 100%;
    padding: 20px 0px;
  }

  .contact-us-form {
    padding: 0px 0px;
  }
  .form-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
  .form-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
  .form-right textarea {
    height: 100px;
  }
}
